# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# Python files
[*.py]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# Markdown files
[*.md]
charset = utf-8
trim_trailing_whitespace = false

# YAML files
[*.{yml,yaml}]
charset = utf-8
indent_style = space
indent_size = 2

# JSON files
[*.json]
charset = utf-8
indent_style = space
indent_size = 2

# Configuration files
[{*.toml,pyproject.toml}]
charset = utf-8
indent_style = space
indent_size = 4
